<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
    <!--Add review form here -->
    <form action="{% url 'djangoapp:add_review' dealer_id %}" method="post">
        <h4>Add a review about <b>{{ full_name }}</b></h4>
        <h6><b>Enter the review content:</b></h6>
        <textarea class="form-control" id="content" style="margin-bottom: 15px;" name="content" rows="2" required></textarea>
        <div class="form-check" style="margin-bottom: 15px;">
            <input class="form-check-input" type="checkbox" value="" name="purchasecheck" id="purchasecheck">
            <label class="form-check-label" for="purchasecheck">
                Has purchased the car from Sub-Ex Car Dealership?(select purchased car information below if checked)
            </label>
        </div>
       
        <div style="display: flex; align-items: center; margin-bottom: 15px;">
            <h6><b>Select your car (model-make-year):</b></h6>
            <select name="car" id="car" class="form-select" required>
                {% for car in cars %}
                    <option selected value={{car.id}}>{{car.name}}-{{car.model.car_name}}-{{ car.year|date:"Y" }}</option>
                {% endfor %}
            </select>
        </div>
        <h6><b>Select Your Purchase Date:</b></h6>
        <input class="date-own form-control" type="text" name="purchasedate" id="purchasedate" style="width: 200px; margin-bottom: 15px;">
        <div class="row pl-3">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
    <footer class="mt-auto bg-light text-center fixed-bottom">
        <a href="{% url 'djangoapp:contact' %}">Contact Us</a>
    </footer>
    </body>
    <script type="text/javascript">
        $(function () {
             $('#purchasedate').datepicker({
                format: 'mm/dd/yyyy'
             });
         });
   </script>
</html>