<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

    <!--Add a nav bar here -->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Dealership Review</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li>
                    <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                    <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                    <a href="{% url 'djangoapp:dealer_details' dealer_id %}?full_name={{ dealer.full_name}}">
                    <a class="btn btn-link" href="{% url 'djangoapp:add_review' dealer_id %}?full_name={{ full_name}}">Add Review</a>
                </li>
                {% else %}
                <li>
                    <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Username" name="username" >
                            <input type="password" class="form-control" placeholder="Password" name="password" >
                            <button class="btn btn-primary" type="submit">Login</button>
                            <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                        </div>
                    </form>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!-- Add reviews as cards -->
        <h5>Reviews for <b>{{ full_name }}</b></h5>
        <div class="card-columns" style="display: flex; justify-content: center; flex-wrap: wrap;">
            {% for review in reviews %}
                <div class="card" style="width: 200px; height:250px;">
                    <img class="card-img-left" src="{{MEDIA_URL}}/emoji/{{review.sentiment}}.png" width="80px" height="80px" alt="{{review.sentiment}}">
                    <div class="card-body bg-light" style="width: 200px; height:170px;">
                        <h5 class="card-title">{{ review.car_make }}, {{ review.car_model }}<br>{{ review.car_year }}</h5>
                        <p class="card-text">{{ review.review }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <footer class="mt-auto bg-light text-center fixed-bottom">
            <a href="{% url 'djangoapp:contact' %}">Contact Us</a>
        </footer>
    </body>
</html>